@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(218, 23%, 16%);
  --foreground: hsl(193, 38%, 86%);
  --cardBackground: hsl(217, 19%, 24%);
  --cardForeground: hsl(193, 38%, 86%);
  --button: hsl(150, 100%, 66%);
  --title: hsl(150, 100%, 66%);
  --divider: hsl(217, 19%, 38%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.glow:hover {
  -webkit-box-shadow: 0 0 2rem hsl(150, 100%, 66%);
  -moz-box-shadow: 0 0 2rem hsl(150, 100%, 66%);
  box-shadow: 0 0 2rem hsl(150, 100%, 66%);
  filter: brightness(110%);
}

a:hover {
  text-decoration: underline;
}
